@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<Bookstore.Entity.TbBook>

@{
    ViewData["Title"] = "ShopIndex";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="shop-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-topbar">
                    <ul>
                        <li class="product-view-wrap">
                            <ul class="nav" role="tablist">
                                <li class="grid-view" role="presentation">
                                    <a class="active" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                        <i class="fa fa-th"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-count">
                            <div class="input-group rounded" style="width:300px">
                                <input id="keyword" name="keyword" type="search" class="form-control rounded" placeholder="Tìm kiếm sản phẩm" aria-label="Search" aria-describedby="search-addon" />
                                <span class="input-group-text border-0" id="search-addon">
                                    <i class='bx bx-search'></i>
                                </span>
                            </div>
                        </li>
                        <li class="short">
                            <select class="form-select" id="txtTypeID" style="min-width: 180px;" asp-items="ViewBag.TheLoai">
                                <option value="" disabled selected>Chọn thể loại sách</option>
                                <option value="0">Tất cả</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="tab-content text-charcoal pt-8">
                    <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                        <div class="product-grid-view row" id="records_table">
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    @if (item.Status == true)
                                    {
                                        string url = $"/{item.BookId}_{item.BookName}.html";
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" width="400px"  src="/images/books/@item.Image" alt="Product Images">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="cart.html">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="@url">
                                                                    <i class="pe-7s-shuffle"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="wishlist.html">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a style="overflow: hidden;text-overflow: ellipsis; height:50px" class="product-name" href="@url">@item.BookName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">
                                                            @if (item.PromotionPrice == null)
                                                            {
                                                                <p class="text-center mb-0 fw-bold">@item.Price.Value.ToString("#,##0") VNĐ</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="text-center mb-0 fw-bold text-danger">Khuyến mãi @item.PromotionPrice.Value.ToString("#,##0") VNĐ</p>
                                                            }
                                                        </span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                        <div class="product-list-view row">
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    @if (item.Status == true)
                                    {
                                        string url = $"/{item.BookId}_{item.BookName}.html";
                                        <div class="col-12">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="single-product.html">
                                                        <img class="img-full" src="/images/books/@item.Image" alt="Product Images">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="cart.html">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="@url">
                                                                    <i class="pe-7s-shuffle"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="wishlist.html">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content align-self-center">
                                                    <a class="product-name pb-2" href="@url">@item.BookName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">
                                                            @if (item.PromotionPrice == null)
                                                            {
                                                                <p class="text-center mb-0 fw-bold">@item.Price.Value.ToString("#,##0") VNĐ</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="text-center mb-0 fw-bold text-danger">Khuyến mãi @item.PromotionPrice.Value.ToString("#,##0") VNĐ</p>
                                                            }
                                                        </span>
                                                    </div>
                                                    <div class="rating-box pb-2">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <p class="short-desc mb-0">@item.Desription</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="pagination-area pt-10">
                    <ul class="pagination justify-content-center">
                        <pager class="page-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusFirstAndLast" list="@Model" asp-controller="Books" asp-action="ShopIndex"></pager>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery("#txtTypeID").change(function () {
                var typeID = jQuery(this).children(":selected").attr("value");
                typeID = parseFloat(typeID);
                $('#txtTypeID option').removeAttr('selected');
                $("#txtTypeID > [value =" + typeID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Books/Filtter',
                    dataType: "json",
                    type: "GET",
                    data: {
                        TypeID: typeID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

        });
    </script>
}
